@charset "UTF-8";
/* CSS Document */

html,body {
	max-width: 960px;
	max-height: 800px;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
	font-family: 'Schoolbell', cursive;
	font-size: 1.2em;
	letter-spacing: 1px;
}
body {
	background-image:url(../images/hangmangan_background.jpg);
	background-repeat: no-repeat;
	width: 100%;
}
#man {
	
	margin-top: 150px;
	margin-left: 60px;
}
.counters {
	float: right;
	width: 30%;
	clear: both;
	margin-top: -400px;
	right: 200px;
	height: 100%;
}
h1 {
	font-size: 2em;
}
#blanks {
	margin-left: auto;
	margin-right: auto;
	top: -100px;
	font-size: 2em;
/*	clear: both;*/
/*	position: relative;*/
}
#demo {
	top: 0;
	margin-left: 80px;
	font-family: 'Schoolbell', cursive;
	font-size: 1.2em;
}

#letters_1 {
	display: block;
	font-size: 2.5em;
	text-align: center;
	word-spacing: 9px;
	line-height: 70px;
}
.bottom {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	align-content: center;
	align-items: center;
	justify-content: center;
/*	bottom: 3px;*/
/*	position: relative;*/
}